<!doctype html>
<html>
  <head>
    <%= require('html-loader!../../public-resource/components/header/meta/common-meta.html') %>
    
    <title>订单中心</title>
  </head>
  
  <body ontouchstart>
    
    <%= require('html-loader!../../public-resource/components/header/nav/center/head-nav-center.html') %>

    
    <%= require('html-loader!../../public-resource/components/top-nav/user/login/user-login-info.html') %>

    
    <section class="user_order">
      <header class="order_me">
	<p class="title">我的订单</p>
	<a href="/Jingying/order/list?status=0" class="order_a">
	  <span class="order_view_all">查看全部订单</span>
	  <span class="right_arrow"></span>
	</a>
      </header>
      <section class="order_act">
	<a href="/Jingying/order/list?status=10" class="order_act_a">
	  <span class="icon-wait-pay icon_font"></span>
	  <span>待付款</span>
	</a>
	<a href="/Jingying/order/list?status=20" class="order_act_a">
	  <span class="icon-wait-send icon_font"></span>
	  <span>待发货</span>
	</a>
	<a href="/Jingying/order/list?status=40" class="order_act_a">
	  <span class="icon-wait-confirm icon_font" style="font-size: 25px;font-weight:normal;"></span>
	  <span style="margin-top: -4px;">待收货</span>
	</a>
	<a href="/Jingying/order/list?status=50" class="order_act_a">
	  <span class="icon-wait-write icon_font"></span>
	  <span>待评价</span>
	</a>
	<a href="#" class="order_act_a">
	  <span class="icon-after-chat icon_font"></span>
	  <span>退款/售后</span>
	</a>
	</a>
      </section>
    </section>

    <section class="tab_list">
      <span>
	<a class="icon-star">
	  <em>收藏商品</em>
	</a>
      </span>
      <span>
	<a class="icon-search">
	  <em>搜索</em>
	</a>
      </span>
      <span>
	<a class="icon-cart2">
	  <em>购物车</em>
	</a>
      </span>
      <span>
	<a class="icon-paperplane">
	  <em>浏览记录</em>
	</a>
      </span>
      <span>
	<a class="icon-settings">
	  <em>设置</em>
	</a>
      </span>
      <span>
	<a class="icon-location">
	  <em>收货地址</em>
	</a>
      </span>
      
    </section>

    <section class="me_copyright">
      <span>Donald 提供技术支持</span>
    </section>
    
    <script type="text/javascript">
     
    </script>    
  </body>

  
</html>
