<!doctype html>
<html>
  <head>
    <%= require('html-loader!../../public-resource/components/header/meta/common-meta.html') %>
    <title>个人信息</title>

  </head>
  
  <body ontouchstart>
    <header class="common_hd">
      <section class="hd_left">
	<a href="javascript:history.go(-1)" class="hd_back"></a>
      </section>
      <a href="/Jingying" class="hd_logo"></a>
      <h1 class="hd_title">个人信息</h1>
      <section class="hd_block">
      </section>
    </header>

	<%= require('html-loader!../../public-resource/components/info-wrap/user/user-info/user-info.html') %>
    
    
  </body>

  
</html>
