.product_wrap .product_ul {
    background: #F8F8F8;
    padding: 0 15px;
}

.product_ul .product_li {
    min-height: 80px;
    padding: 15px 15px 15px 90px;
    top: -1px;
    background: #F8F8F8;
    position: relative;
}

.product_li .product_li_img {
    top: 15px;
    left: 0;
    position: absolute;
    height: 80px;
    width: 80px;
    border: none;
    vertical-align: bottom;
}

.product_li .product_li_title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 36px;
    line-height: 18px;
    padding-right: 66px;
    font-size: 14px;
    overflow: hidden;
}

.product_li .product_li_spec {
    font-size: 12px;
    color: #9a9a9a;
}

.product_li .product_li_money {
    right: 0;
    top: 15px;
    position: absolute;
}

.product_li_money .num {
    color: #9A9A9A;
    font-size: 12px;
}

.product_li_money span {
    display: block;
    text-align: right;
    font-size: 14px;
    color: #222;
    line-height: 19px;
}
