<section id="address-list" style="right:0;">
  
  <header class="common_hd" style="background-color: #f7f7f7;">
    <section class="hd_left">
      <a href="#" class="hd_back" id="address-list-close"></a>
    </section>
    <h1 class="hd_title">选择收货地址</h1>
    <section class="hd_block"></section>
  </header>
  
  <ul class="l_addre_ul">
    <li class="l_addre_li l_li_current">
      <div class="l_li_div">
	<mark class="l_li_mark icon-check">&nbsp;</mark>
	<p>
	  <span class="l_li_name">杨一帆</span>
	  <span class="l_li_tele">13951758623</span>
	</p>
	<p>
	  <em>[默认]</em>
	  <span class="l_li_address">浙江台州市临海市城区百叶东路</span>
	</p>
      </div>
      <a class="l_li_edit" data-href="">编辑</a>
    </li>
  </ul>

  <footer id="addre-footer">
    <a id="" data-href="">添加新地址</a>
  </footer>
  
</section>
