<section class="classify_panel" id="search-panel" style="opacity: 0; display:none;">
  <div class="show_panel" id="dy-wrap">
    <div class="panel_wrap wrap">
      <div class="search_wrap">
	<div class="search_input_wrap">
	  <input id="input-goods-search" class="search wrap" placeholder="请输入商品名称">
	  <em class="search_clear icon-clear-text" style="display:none;" id="search-clear"></em>
	</div>
	<span class="search_btn" id="btn-goods-search">搜索</span>
	<span class="clear"></span>
      </div>
      <div class="classify_list">
	<div class="classify_list_wrap">
	  <ul>
	    <li>
	      <span class="li_title">品牌</span>
	      <ul>
		
		<% for(brand in brandList) { %>
		<li>${brand.name}</li>
		<% } %>
		
	      </ul>
	    </li>

	    <% for(entry in categoryMap) {
	    var name = entry.key;
	    var list = entry.value;
	    %>
	    <li>
	      <span class="li_title">${name}</span>
	      <ul>
		<% for (category in list) { %>
		<li>${category.name}</li>
		<% } %>
	      </ul>
	    </li>
	    <% } %>

	    <br/>
	    <br/>
	    <br/>
	    
	  </ul>
	</div>
      </div>
      <div class="classify_arrow icon-left-flod" id="arrow-side-menu"></div>
    </div>
  </div>
  <div class="mask_area" id="mask-area"></div>
</section>
