<!doctype html>
<html>
  <head>
    
    <%= require('html-loader!../../public-resource/components/header/meta/common-meta.html') %>
    <title>我的订单</title>

  </head>

  
  <body ontouchstart>

    
    <header class="common_hd">
      <section class="hd_left">
	<a href="javascript:history.go(-1)" class="hd_back"></a>
      </section>
      <a href="/Jingying" class="hd_logo"></a>
      <h1 class="hd_title">我的订单</h1>
      <section class="hd_block">
      </section>
    </header>

    <section class="order_select_bar" id="order-tab">
      <ul>
	
	<li tab-index="0" data-spider-action-name="全部">
	  <a href="/Jingying/order/list?status=0" class="curr_a">全部</a>
	</li>
	
	<li tab-index="1" data-spider-action-name="待付款">
	  <a href="/Jingying/order/list?status=10">待付款</a>
	</li>
	
	<li tab-index="2" data-spider-action-name="待发货">
	  <a href="/Jingying/order/list?status=20">待发货</a>
	</li>
	
	<li tab-index="3" data-spider-action-name="待收货">
	  <a href="/Jingying/order/list?status=40">待收货</a>
	</li>
	
	<li tab-index="4" data-spider-action-name="待评价">
	  <a href="/Jingying/order/list?status=50">待评价</a>
	</li>

      </ul>
    </section>

    <div class="order_list">

      <%= require('html-loader!../../public-resource/components/info-wrap/order/list/order-list-info.html') %>
      
    </div>
    
    
  </body>

  
</html>
