<!doctype html>
<html style="font-size: 36px;">
  <head>
    
    <%= require('html-loader!../../public-resource/components/header/meta/common-meta.html') %>
    <title>收银台</title>

  </head>

  
  <body ontouchstart>

    
    <header class="common_hd">
      <section class="hd_left">
	<a href="javascript:history.go(-1)" class="hd_back"></a>
      </section>
      <a href="/Jingying" class="hd_logo"></a>
      <h1 class="hd_title">收银台</h1>
      <section class="hd_block">
      </section>
    </header>


    <div class="pay_info_wrap">
      
      <div class="pay_info_wrap">

	<%= require('html-loader!../../public-resource/components/info-wrap/order/pay/order-pay-info.html') %>
	
	<ul class="pay_way_list">
	  <li class="pay_way_card _alipay selected">
	    <h2>支付宝</h2>
	    <span class="select icon-check"></span>
	  </li>
	</ul>
	
	<button id="pay-now">立即支付</button>
      </div>
      
      <footer class="pay_info_footer">
	<a href="#" data-spider-action-name="支付常见问题">支付常见问题</a>
	<p>版权所有©2017-2018 璟鹰</p>
      </footer>
      
  </body>

  
</html>
