<!doctype html>
<html>
  <head>
    
    <%= require('html-loader!../../public-resource/components/header/meta/common-meta.html') %>
    <title>璟鹰建材</title>

  </head>

  
  <body ontouchstart>

    
    <header class="common_hd">
      <section class="hd_left">
	<a href="javascript:history.go(-1)" class="hd_back"></a>
      </section>
      <a href="/Jingying" class="hd_logo"></a>
      <h1 class="hd_title">确认购买</h1>
      <section class="hd_block">
      </section>
    </header>
    

    <section class="order_wrap">
      
      <%= require('html-loader!../../public-resource/components/info-wrap/order/select-address/address-select-info.html') %>

      <section class="info_list">
	
	<%= require('html-loader!../../public-resource/components/info-wrap/order/submit/order-submit-info.html') %>

	<section class="order_notice_wrap">
	  <p>二十年信誉保证，祝您购物愉快</p>
	  <p class="notice_tip">请仔细确认订单信息 (*^▽^*)</p>
	  </div>
	</section>

	<section class="remark_wrap">
	  <p>
	    <em>留言</em>
	    <input class="remark_words" placeholder="还想说些什么嘛">
	  </p>
	</section>

	<%= require('html-loader!../../public-resource/components/info-wrap/order/total-section/order-total-info.html') %>
	
      </section>

      
    </section>

    <%= require('html-loader!../../public-resource/components/footer/nav/submit/footer-nav-submit.html') %>
    
    <%= require('html-loader!../../public-resource/components/side-menu/pop-address/pop-address.html') %>
    
  </body>

  
</html>
