<!doctype html>
<html>
  <head>
    
    <%= require('html-loader!../../public-resource/components/header/meta/common-meta.html') %>
    <title>璟鹰建材</title>

  </head>

  
  <body ontouchstart>

    
    <header class="common_hd">
      <section class="hd_left">
	<a href="javascript:history.go(-1)" class="hd_back"></a>
      </section>
      <h1 class="hd_title">确认购买</h1>
      <section class="hd_block">
      </section>
    </header>
    

    <section class="order_wrap">
      
      <section id="address-request" style="display: block; min-height: 57px;">
	<ul class="addre_ul">
	  <li class="addre_li">
	    <span class="addre_icon_desc icon-location-address"></span>
	    <span id="">请填写收货地址</span>
	  </li>
	</ul>

	<p class="addre_bottom_border"></p>
      </section>

      <section class="info_list">
	<section class="product_wrap">
	  <ul class="product_ul">
	    <li class="product_li">
	      <img src="http://wd.geilicdn.com/bj-pc-1224535927-1524034449435-304757963_800_800.jpg?w=80&amp;h=80&amp;cp=1" class="product_li_img" >
	      <h2 class="product_li_title"></h2>
	      <h3 class="product_li_spec"></h3>
	      <h2 class="product_li_money">
		<span>￥26.20</span>
		<span class="num">x1</span>
	      </h2>
	    </li>
	  </ul>
	</section>

	<section class="order_notice_wrap">
	  <p>二十年信誉保证，祝您购物愉快</p>
	  <p class="notice_tip">请仔细确认订单信息 (*^▽^*)</p>
	  </div>
	</section>

	<section class="remark_wrap">
	  <p>
	    <em>留言</em>
	    <input class="remark_words" placeholder="还想说些什么嘛">
	  </p>
	</section>

	<section class="total_wrap">
	  <span>
	    共1件商品 合计:
	    <em>￥26.20</em>
	  </span>
	</section>
	
      </section>

      
    </section>

    <footer class="order_footer" >
      <div class="order_footer_inner">
	<a id="order-submit">提交订单</a>
	<p class="final_info">
	  应付总额:
	  <i class="i_pri">￥26.20</i>
	  <span class="num">共1件商品</span>
	</p>
      </div>
    </footer>
    
    <%= require('html-loader!../../public-resource/components/side-menu/pop-address/pop-address.html') %>
    
  </body>

  
</html>
