
<footer class="index_footer">
  <ul class="footer_nav">
    <li class="classify ripple active" id="btn-go-home">
      <span class="icon-home icon-style active"></span>
      <p class="active">首页</p>
    </li>

    <li class="classify ripple" id="btn-go-menu">
      <span class="icon-menu icon-style"></span>
      <p>分类</p>
    </li>

    <li class="classify ripple" id="btn-go-contact">
      <span class="icon-contact icon-style"></span>
      <p>联系</p>
    </li>

    <li class="classify ripple" id="btn-go-cart">
      <div class="cart_wrap">
	<span class="icon-cart icon-style">
	  <% if (session.currentUser != null) {%>
	  <span class="cart_num_wrap">
	    <em id="cart-num"></em>
	  </span>
	  <% } %>
	</span>
      </div>
      <p>购物车</p>
    </li>

    <li class="classify ripple" id="btn-go-me">
      <span class="icon-user icon-style"></span>
      <p>我的</p>
    </li>
  </ul>
  
</footer>
