<section class="pop_menu_wrap" id="pop-menu" style="display: none;opacity: 0;z-index: 99;">
  <div id="show-pop-menu">
    <div class="pop_menu_inner">
      <div class="pop_menu_info">
	<img width="100" height="100" class="pop_info_img" src="http://image.jingying.com/${productSpu.main_image}">
	<span class="pop_info_price">
	  <span>￥</span>
	  <span id="pop-info-price">${productSpu.min_price}-${productSpu.max_price}</span>
	</span>
	<div id="pop-menu-close" class="icon-close-pop">&nbsp;</div>
      </div>

      <div class="pop_select_wrap">
	<div id="pop-select-info">
	  <p class="pop_select_title">型号</p>
	  <ul id="pop-select-ul">
	    <% for (sku in skuList) { %>
	    <li class="pop_select_li" data-skuId="${sku.id}" data-price="${sku.price}" data-stock="${sku.stock}">
	      <span class="pop_span">${sku.spec_name}</span>
	    </li>
	    <% } %>
	  </ul>
	</div>
	<div class="pop_select_num">
	  <p class="pop_select_title">数量</p>
	  <div id="pop-select-control">
	    <em id="control-num-sub" style="left: 0;">-</em>
	    <input type="text" name="product_num" id="product-num" class="input_num" value="1">
	    <em id="control-num-add" style="right: 0;">+</em>
	  </div>
	  <div class="control_stock">
	    库存<span id="control-stock" data-totalStock="${productSpu.stock}">${productSpu.stock}</span>件
	  </div>
	  <div class="clear"></div>
	</div>
      </div>
      <a id="control-btn-confirm">确定</a>
    </div>
  </div>
</section>
