<section class="pop_menu_wrap" id="pop-menu" style="display: none;opacity: 0;z-index: 99;">
  <div id="show-pop-menu">
    <div class="pop_menu_inner">
      <div class="pop_menu_info">
	<img width="100" height="100" class="pop_info_img" src="https://si.geilicdn.com/bj-pc-1224535927-1516072595934-2106055280_430_430.jpg?w=110&amp;h=110&amp;cp=1">
	<span class="pop_info_price">
	  <span>￥</span>
	  <span id="pop-info-price"></span>
	</span>
	<div id="pop-menu-close" class="icon-close-pop">&nbsp;</div>
      </div>

      <div class="pop_select_wrap">
	<div id="pop-select-info">
	  <p class="pop_select_title">型号</p>
	  <ul id="pop-select-ul">
	    
	  </ul>
	</div>
	<div class="pop_select_num">
	  <p class="pop_select_title">数量</p>
	  <div id="pop-select-control">
	    <em id="control-num-sub" style="left: 0;">-</em>
	    <input type="" name="product_num" id="product_num" class="input_num" value="1">
	    <em id="control-num-add" style="right: 0;">+</em>
	  </div>
	  <div class="control_stock">
	    库存<span id="control-stock"></span>件
	  </div>
	  <div class="clear"></div>
	</div>
      </div>
      <a id="control-btn-confirm">确定</a>
    </div>
  </div>
</section>
