.p_info .p_info_wrap {
    background-color: #fff;
    border-bottom: 1px solid #eee;
    overflow: hidden;
    position: relative;
}

.p_info_wrap .p_imgs_show {
    width: 100%;
    background-color: #7e7e7e;
    position: relative;
}

.p_imgs_show .p_img_wrap {
    
}

.p_img_wrap .img_deco {
    width: 100%;
}


.p_imgs_show #img-nums {
    position: absolute;
    right: 15px;
    font-size: 12px;
    color: rgba(255,255,255,.8);
    text-shadow: 1px 1px rgba(0,0,0,.8);
    bottom: 15px;
    height: 12px;
    line-height: 12px;
}



.p_info_title_wrap .title_name_wrap {
    position:relative;
}

.title_name_wrap #title-name {
    font-size: 16px;
    padding: 20px 15px 0;
    color: #000;
    font-family: '微软雅黑';
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    line-height: 21px;
    word-break: normal;
    font-weight: 700;
}

.title_name_wrap #share-by-link {
    color: #9A9A9A;
    padding: 3px 7px;
    border-radius: 3px;
    top: 5px;
    right: 3px;
    z-index: 2;
    position: absolute;
}

#share-by-link .share_logo {
    width: 21px;
    height: 21px;
    background: url(//s.geilicdn.com/p5/shop/20184/images/common/share.c2113288.png) no-repeat;
    background-size: 18px;
    margin: 14px auto 0;
    display: block;
    background-position-x: 2px;
}

#share-by-link .copy_link {
    display: block;
    font-size: 20px;
    transform: scale(.5);
    -ms-transform: scale(.5);
    -webkit-transform: scale(.5);
    -moz-transform: scale(.5);
    -o-transform: scale(.5);
}

.p_info_title_wrap #price-wrap {
    padding: 0;
    margin: 0.7rem;
    vertical-align: bottom;
    position: relative;
    line-height: .7rem;
}

#price-wrap #p-price {
    overflow: visible;
    padding: 0;
    color: #D7200D;
    font-size: 28px;
    display: flex;
    align-items: center;
    line-height: 1.2rem;
}

#p-price .money_sign {
    font-size: 16px;
    display: inline-block;
    margin-top: .106rem;
    margin-right: .16rem;
}

#p-price .price_str {
    font-size: 24px;
    margin-left: -.106rem;
}

.price_str .decimals {
    margin-left: -0.4rem;
    font-size: 18px;
}


/****** SPECIFICATION SELECT ******/
.p_info #p-spec-select-wrap {
    margin-top: .7rem;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

#p-spec-select-wrap #spec-select {
    background-color: #fff;
    padding: 1.2rem;
    position: relative;
}

#spec-select .spec_title {
    left: .7rem;
    top: .56rem;
    position: absolute;
}

#spec-select .spec_title_arrow {
    right: 17px;
    transform: rotate(-45deg);
    width: 7px;
    height: 7px;
    border-right: 1px solid #CACACA;
    border-bottom: 1px solid #CACACA;
    position: absolute;
    top: .95rem !important;
}

/****** END SPECIFICATION SELECT ******/


/****** TAB ******/
.p_info .p_info_detail {
    margin-top: .7rem;
    min-height: 100px;
    background-color: white;
}

.p_info_detail .p_tab_hd {
   
}

.p_tab_hd .p_tab_ul {
    background-color: #fff;
    border-bottom: 1px solid #f4f4f4;
    border-top: 0;
    width: 100%;
    height: 50px;
    padding: 0;
}

.p_tab_ul .p_tab_li {
    float: left;
    width: 50%;
    text-align: center;
    padding: 0px 20px;
    line-height: 49px;
    font-size: 14px;
    position: relative;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.p_tab_ul .active_bottom {
    border-bottom: 1px solid #ff7200;
}

.p_tab_bd .p_tab_spec {
    background-color: white;
    display: none;
    font-size: 14px;
    line-height: 20px;
    color: #a0a0a0;
    padding: 0 15px 20px 15px;
    display: none;
}

.p_tab_bd .p_tab_imgs {
    text-align: center;
    font-size: 16px;
    color: #000;
    display: none;
}

.p_tab_imgs .img_deco {
    transition: all .5s ease;
    display: block;
}

.p_tab_imgs .imgs_title {
    
}

.p_tab_bd .active {
    display: block;
}

.p_tab_spec .tab_spec_ul {
    
}

.tab_spec_ul>li {
    padding: 2px 0px;
    padding-top: 0;
    margin-top: 16px;
    border-bottom: 1px #f4f4f4 solid;
    display: -webkit-box;
}

.tab_spec_ul .spec_li_name {
    color: #a0a0a0;
    width: 70px;
    padding-right: 10px;
}

.tab_spec_ul .spec_li_val {
    color: #000;
}


/****** END TABT ******/
