<!doctype html>
<html>
  <head>
    
    <%= require('html-loader!../../public-resource/components/header/meta/common-meta.html') %>
    <title>商品详情</title>

  </head>

  
  <body ontouchstart>
    <%= require('html-loader!../../public-resource/components/header/nav/main/head-nav-main.html') %>
    
    <section class="p_info">
      
      <%= require('html-loader!../../public-resource/components/info-wrap/product/nav/product-nav-info.html') %>

      <%= require('html-loader!../../public-resource/components/info-wrap/product/select/product-select-info.html') %>

      <%= require('html-loader!../../public-resource/components/info-wrap/product/detail/product-detail-info.html') %>
      

      <%= require('html-loader!../../public-resource/components/footer/copyright/copyright.html') %>

      <br/>
      <br/>
      <br/>
      
    </section>

    <%= require('html-loader!../../public-resource/components/footer/nav/cart/footer-nav-cart.html') %>

    <%= require('html-loader!../../public-resource/components/side-menu/pop/pop-menu.html') %>


  </body>

  
</html>
