<!doctype html>
<html>
  <head>
    
    <%= require('html-loader!../../public-resource/components/header/meta/common-meta.html') %>
    <title>商品详情</title>

  </head>

  
  <body ontouchstart>
    <%= require('html-loader!../../public-resource/components/header/nav/main/head-nav-main.html') %>
    
    <section class="p_info">
      
      <section class="p_info_wrap">
	<article class="p_imgs_show">
	  <div class="p_img_wrap">
	    <img src="https://si.geilicdn.com/bj-pc-1224535927-1516072596543-1607023810_430_430.jpg?w=750&amp;h=750&amp;cp=1" class="img_deco">
	  </div>
	  <div id="img-nums">2/5</div>
	</article>

	<div class="p_info_title_wrap">
	  <div class="title_name_wrap">
	    <h2 id="title-name" style="max-width:79%;">汉鼎鱼饵小药饵料野钓黑坑钓饵鲤鱼草鲫鱼钓鱼渔具用品拉丝粉鱼料</h2>
	    <div id="share-by-link">
	      <em class="share_logo"></em>
	      <em class="copy_link">链接</em>
	    </div>
	  </div>
	  <div id="price-wrap">
	    <span id="p-price">
	      <em class="money_sign">￥</em>
	      <em class="price_str">
		<em>12.</em>
		<em class="decimals">90</em>
		<em>-</em>
		<em>18.</em>
		<em class="decimals">90</em>
	      </em>
	    </span>
	  </div>
	</div>
	
      </section>

      

      <section id="p-spec-select-wrap">
	<div id="spec-select">
	  <em class="spec_title">选择&nbsp;商品型号</em>
	  <em class="spec_title_arrow">&nbsp;</em>
	</div>
      </section>


      

      <section class="p_info_detail">
	<div class="p_tab_hd">
	  <ul class="p_tab_ul">
	    <li class="p_tab_li active_bottom" id="p-imgs-info">宝贝详情</li>
	    <li class="p_tab_li" id="p-detail-info">详细参数</li>
	  </ul>
	</div>

	<div class="p_tab_bd">
	  <div class="p_tab_imgs active">
	    <img class="detail_img lazy" src="https://si.geilicdn.com/bj-pc_diary-1224535927-1516073389817-500430043_790_1045.jpg?w=1080&amp;h=1080"  width="100%">
	    <img class="detail_img lazy" src="https://si.geilicdn.com/bj-pc_diary-1224535927-1516073389817-500430043_790_1045.jpg?w=1080&amp;h=1080"  width="100%">
	    <img class="detail_img lazy" src="https://si.geilicdn.com/bj-pc_diary-1224535927-1516073389817-500430043_790_1045.jpg?w=1080&amp;h=1080"  width="100%">
	  </div>
	  <div class="p_tab_spec">
	    <ul class="tab_spec_ul">
	      <li>
		<span class="spec_li_name">商品名称：</span>
		<span class="spec_li_val">45°弯头</span>
	      </li>
	      <li>
		<span class="spec_li_name">商品名称：</span>
		<span class="spec_li_val">45°弯头</span>
	      </li>
	      <li>
		<span class="spec_li_name">商品名称：</span>
		<span class="spec_li_val">45°弯头</span>
	      </li>
	      <li>
		<span class="spec_li_name">商品名称：</span>
		<span class="spec_li_val">45°弯头</span>
	      </li>
	    </ul>
	  </div>
	</div>
	
      </section>

      <%= require('html-loader!../../public-resource/components/footer/copyright/copyright.html') %>

      <br/>
      <br/>
      <br/>
      
    </section>

    <%= require('html-loader!../../public-resource/components/footer/nav/cart/footer-nav-cart.html') %>

    <%= require('html-loader!../../public-resource/components/side-menu/pop/pop-menu.html') %>
    
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript">
     
     
    </script>    
  </body>

  
</html>
