<!doctype html>
<html>
  <head>
    <%= require('html-loader!../../public-resource/components/header/meta/common-meta.html') %>
    
    <title>编辑收获地址</title>

  </head>

  
  <body ontouchstart>
    
    <header class="common_hd">
      <section class="hd_left">
	<a href="javascript:history.go(-1)" class="hd_back"></a>
      </section>
      <a href="/Jingying" class="hd_logo"></a>
      <h1 class="hd_title">编辑收获地址</h1>
      <section class="hd_block"></section>
    </header>

    <%= require('html-loader!../../public-resource/components/info-wrap/address/edit/address-form-info.html') %>

    <footer class="footer">
      <div class="save-btn" id="Js-save-address">保存并使用</div>
    </footer>
    
    <script type="text/javascript">
     
    </script>    
  </body>

  
</html>
